body {
    background-color: rgb(150, 150, 150);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  form {
    color: white;
    margin-left: 20px;
  }
  input{
    padding: 15px 5px;
    width:310px;
    display: inline-block;
    font-size: 16px;
  }
  button {
    background-color: #7e807e; 
    border: none;
    color: white;
    border-radius: 7px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
  }
  #container{
    display: block;
    padding: 10px;
  }
  #menubar{
    background-color: black; 
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
  }
  #interface-serial{
    padding: 10px;
    width: 450px;
  }
  #statusBar{
    color: white;
    margin-left: 10px;
    font-size: 16px;
  }

  .btn_value{
    width:150px;
    padding: 10px 5px;
    margin: 3px;
    background-color: #7e807e; 
  }
  .legend{
      display: block;
      font-size: 16px;
      padding: 5px;
      color: white;
  }
  .legend_small{
    display: inline;
    font-size: 14px;
    padding: 5px;
    color: rgb(110, 110, 110);
}